body {
  font-family: 'Prociono', serif;
  background-image: url("assets/background.jpeg");
  background-size: 100%;
  background-color: #787878;
  max-width: 100%;
  background-blend-mode: screen;
}

/* For width 400px and smaller: */
@media only screen and (min-width: 500px) {
    body {
        background-color: red;
    }
}

input {
  width: 230px;
}

h1 {
  margin-bottom: 10px;
}

.option-list {
  list-style: none;
  cursor: pointer;
  background-color: white;
  text-align: left;
  line-height: 1.8rem;
  padding-left: 0.8rem;
}

.container {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}
