body {
  font-family: 'Prociono', serif;
  background-image: url("assets/background.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: red;
  background-blend-mode: screen;
}

.search-bar {
  width: 90%;
  margin: auto;
  font-size: 1rem;
  font-family: inherit;
  padding: 0.5rem 0.5rem;
  border-style: none;
}

.search-bar:focus {
  outline:none;
}

.main-title {
  margin-bottom: 0.5rem;
}

.item:first-child {
  border-top: 0.18rem solid grey;
}

.item {
  padding-left: 1rem;
}

.item:hover {
  background-color: #F5989E;
}

.bold-letter {
  font-weight: bold;
}

.option-list {
  position: relative;
  width: 90%;
  font-size: 1rem;
  list-style: none;
  cursor: pointer;
  background-color: white;
  text-align: left;
  line-height: 1.8rem;
  display: block;
  padding-left: 0;
  margin: auto;
}

.container {
  padding-top: 7rem;
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin:auto;
}

@media (min-width: 768px){
/* For tablet: */
  * {
    font-size: 30px;
  }
}

@media (min-width: 1024px){
/* For desktop: */
  .search-bar,
  .item{
    font-size: 0.5rem;
  }

  .option-list {
    line-height: 0.9rem;
  }

  .item{
    padding-left: 0.7rem;
  }
}
