body {
  font-family: 'Prociono', serif;
  background-image: url("assets/background.jpeg");
  background-color: red;
  background-blend-mode: screen;
  background-size: cover;
}

/* For width 400px and smaller: */
@media only screen and (min-width: 500px) {
    body {
        background-color: red;
    }
}

input {
  width: 90%;
  font-size: 0.53em;
  border-style: none;
}

h1 {
  margin-bottom: 0px;
}

.container {
  font-size: 50px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

input:focus {
  outline:none;
}
